#skills {
  align-items: center;
  background-color: #FE5C5C;
  color: #fff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100vh;
  position: relative;
  scroll-snap-align: start;
}
