#skills {
  align-items: center;
  background-color: #FE5C5C;
  color: #fff;
  display: grid;
  grid-template-columns: 20% 40% 40%;
  height: 100vh;
  position: relative;
  scroll-snap-align: start;
}
