.skillsColumn {
  &-descriptions {
    font-family: 'Helvetica';
    font-size: 1.125rem;
    font-weight: 500;
    color: #ffffff;
    text-align: justify;
    text-transform: uppercase;

    @media screen and (max-width: 700px) {
      display: none;
    }

    @media screen and (max-width: 1200px) {
      font-size: 1rem;
    }

    @media screen and (max-width: 1200px) {
      font-size: 0.8rem;
    }

    &-alt {
      text-transform: uppercase;
      width: 100%;
  
      text-align: center;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      display: none;

      // @media screen and (max-width: 699px) {
      //   display: initial;
      // }
      @media screen and (max-width: 700px){
        display: initial;
      }
    }

    .description {

      @media screen and (max-width: 1366px) {
        padding: 0.75rem 0;
      }

      @media screen and (max-width: 900px) {
        padding: 0 0;
      }

      @media screen and (max-width: 375px) {
        // font-size: .9rem;
      }

    }

    &-container {
      padding: 5px;
      display: flex;
      width: 100%;

    align-items: center;
    justify-content: center;

      @media screen and (max-width: 900px) {
        display: block;
      }

      p{
        margin: 0;
        padding: 0;

      }

    }

    &-formatting {
      @media screen and (max-width: 900px) {
        display: none;
      }
    }
  }
  &-header {
    font-family: 'Helvetica';
    color: #ffffff;
    text-align: center;

    h2 {
      font-size: 5rem;
      font-weight: 500;
      background-color: #fe5c5c;
      padding: 50px 0;
      position: relative;
      text-transform: uppercase;
      z-index: 2;

      @media screen and (max-width: 1200px) {
        font-size: 3rem;
      }

      @media screen and (max-width: 800px) {
        font-size: 2rem;
        padding: 30px 0;
      }

      @media screen and (max-width: 600px) {
        font-size: 1.5rem;
      }
    }
  }
  &-list {
    font-family: 'Nanum Pen Script';
    font-size: 3rem;
    color: #ffffff;
    text-align: justify;
    text-transform: uppercase;

    @media screen and (max-width: 1300px) {
      font-size: 2.2rem;
    }

    @media screen and (max-width: 800px) {
      font-size: 1.3rem;
    }
  }
  &-verticalRule {
    border: none;
    border-left: 4px solid #d8d8d8;
    height: 100vh;
    width: 0px;
    display: block;
    position: absolute;
    left: 12vw;
    top: 0;

    @media screen and (max-width: 800px) {
      left: 10vw;
    }
  }
}
