.pinkTheme {
  &-header {
    font-family: Helvetica;
    display: flex;
    color: #ffffff;

    h2 {
      font-size: 90px;
      background-color: #ffdacf;
      z-index: 2;
      writing-mode: vertical-lr;
      text-orientation: sideways;
      transform: rotate(-180deg);
      text-transform: uppercase;
      padding-top: 30px;
      padding-bottom: 30px;
      margin: 0;
      margin-bottom: 12vh;
      width: 13vw;
      display: flex;

      @media screen and (max-width: 566px) {
        font-size: 25px;
      }
    }

    &-coloredText {
      color: #fe2020;
      margin-top: 30px;

      @media screen and (max-width: 566px) {
        margin-top: 10px;
      }
    }
  }
  &-quotes {
    font-family: Nanum Pen Script;
    font-size: 200px;
    color: #fe5c5c;
    text-align: center;
    margin: 0;
    height: 50px;
  }
  &-verticalRule {
    border: none;
    border-left: 4px solid #ffffff;
    height: 100%;
    width: 0px;
    display: block;
    position: absolute;
    left: 9vw;
  }
  &-description {
    font-family: Nanum Pen Script;
    text-align: justify;
    font-size: 36px;
    color: #fe2020;
    padding: 20px;
    margin: 30px;
    padding-left: 0;
    margin-left: 0;
    z-index: 3;

    @media screen and (max-width: 866px) {
      font-size: 20px;
    }
  }
  &-arrow {
    transform: rotate(90deg);
    font-family: Nanum Pen Script;
    font-size: 30px;
    color: #ffffff;
    letter-spacing: -3.2px;
    text-align: center;
    line-height: 89px;
    position: absolute;
    bottom: 25px;
    margin-left: 100px;
    width: 100%;
    text-align: center;
  }
}
