.whoWeAreView {
  padding: 100px 0;

  &-border {
    border: 2px solid #ffffff;
    margin: auto;
    width: 89px;

    @media screen and (max-width: 566px) {
      width: 55px;
      border: 1px solid #ffffff;
    }
  }
  &-borderContainer {
    height: 5px;
    padding-top: 25px;
    width: 100vw;
  }
  &-subtitle {
    color: #ffffff;
    font-family: Nanum Pen Script;
    font-size: 30px;
    display: inline-block;
    text-align: right;
    width: 20vw;

    @media screen and (max-width: 800px) {
      width: 40vw;
      font-size: 25px;
    }
  }
  &-text {
    font-family: Helvetica;
    font-size: 24px;
    color: #ffffff;
    text-align: justify;

    @media screen and (max-width: 1000px) {
      font-size: 20px;
      width: 100%;
    }

    @media screen and (max-width: 566px) {
      font-size: 16px;
      width: 100%;
    }
  }
  &-textContainer {
    padding: 150px;

    @media screen and (max-width: 566px) {
      padding: 35px;
    }
  }
  &-title {
    color: #ffd3d3;
    font-family: Helvetica;
    font-size: 64px;
    margin: auto;
    margin-bottom: 5px;
    max-width: 475px;
    text-transform: uppercase;

    @media screen and (max-width: 566px) {
      font-size: 35px;
    }
  }
  &-titleContainer {
    text-align: center;
  }
}
