.whoWeAreView {
  padding: 100px 0;

  &-border {
    border: 2px solid #FFFFFF;
    margin: auto;
    width: 89px;
  }
  &-borderContainer {  
    height: 5px;
    padding: 25px;
    width: 100vw;
  }
  &-subtitle {
    color: #ffffff;
    font-family: Nanum Pen Script;
    font-size: 30px;
    display: inline-block;
    text-align: right;
    width: 20vw;

    @media screen and (max-width: 800px) {
      width: 40vw;
    }
  }
  &-text {
    font-family: Helvetica;
    font-size: 24px;
    color: #ffffff;
    text-align: justify;
  }
  &-textContainer {
    padding: 150px;
  }
  &-title {
    color: #ffd3d3;
    font-family: Helvetica;
    font-size: 64px;
    margin: auto;
    margin-bottom: 15px;
    max-width: 475px;
    text-transform: uppercase;
  }
  &-titleContainer {
    text-align: center;
  }
}
