.whoWeAreView {
  &-subtitle {
    color: #ffffff;
    font-family: Nanum Pen Script;
    font-size: 30px;
    display: inline-block;
    text-align: right;
    width: 50vw;
  }
  &-text {
    font-family: Helvetica;
    font-size: 24px;
    color: #ffffff;
    text-align: justify;
  }
  &-textContainer {
    padding: 150px;
  }
  &-title {
    color: #ffd3d3;
    font-family: Helvetica;
    font-size: 64px;
    text-transform: uppercase;
  }
  &-titleContainer {
    text-align: center;
  }
}
