.homeView2 {
  display: flex;
  color: black;
  justify-content: center;
  font-family: Nanum Pen Script;
  height: 100vh;
  scroll-snap-align: start;

  @media only screen and (max-width: 736px) {
    padding: 10vh;
  }

  &-col {
    flex-grow: 1;
    padding: 30px;

    @media only screen and (max-width: 736px) {
      display: none;
    }

    &--centered {
      padding: 30px;
      height: 80%;
      margin-right: 12vw;
      & * {
        margin-bottom: 6vh !important;
      }

      @media only screen and (max-width: 736px) {
        display: none;
      }
    }
  }

  &-mobileCol {
    @media only screen and (max-width: 736px) {
      display: block;
    }
  }

  &-text {
    font-family: Nanum Pen Script;
    font-size: 72px;
    color: #fe2020;
    text-transform: uppercase;
    margin: 0;
    
    @media only screen and (max-width: 800px) {
      font-size: 32px;
    }

    @media only screen and (max-width: 414px) {
      font-size: 42px;
    }
  }
  &-blackText {
    font-family: helvetica;
    font-size: 40px;
    color: black;
    margin: 0;
    margin-top: -6vh;
    font-weight: 300;
  }
}
