.aboutView {
  &-title {
    font-family: Helvetica;
    font-size: 64px;
    color: #ffd3d3;
    text-align: center;
  }
  &-subtitle {
    font-family: NanumPen;
    font-size: 30px;
    color: #ffffff;
    text-align: center;
  }
  &-text {
    font-family: Helvetica;
    font-size: 24px;
    color: #ffffff;
    text-align: justify;
  }
}
