.methodView {
  display: flex;
  flex-direction: column;
  color: black;
  text-align: center;
  justify-content: center;
  height: 100%;
  font-family: Nanum Pen Script;

  &-small {
    font-size: 90px;
    color: rgba(254, 113, 92, 0.71);
    text-align: center;
    margin: 0;

    @media screen and (max-width: 566px) {
      font-size: 45px;
    }
  }

  &-medium {
    font-size: 90px;
    color: rgba(254, 113, 92, 0.97);
    text-align: center;
    margin: 0;

    @media screen and (max-width: 566px) {
      font-size: 55px;
    }
  }

  &-large {
    font-size: 130px;
    color: #fe2020;
    text-align: center;
    margin: 0;

    @media screen and (max-width: 566px) {
      font-size: 65px;
    }
  }

  &-subtitle {
    font-size: 24px;
    color: #fe2020;
    text-align: center;
    margin: 0;

    @media screen and (max-width: 566px) {
      margin-top: 25px;
      width: 85%;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
