.whatWeView {
  &-header {
    font-family: Helvetica;
    color: #ffffff;
    position: relative;
    height: 30%;

    h2 {
      font-size: 90px;
      background-color: #ffdacf;
      z-index: 2;
      -webkit-transform: rotate(-90deg);
      transform: rotate(-90deg);
      white-space: nowrap;
      text-transform: uppercase;
      margin: 0;
      width: 100%;
      padding: 30px;
    }
  }
  &-verticalRule {
    border: none;
    border-left: 4px solid #ffffff;
    height: 100vh;
    width: 0px;
    display: block;
    position: absolute;
    left: 12vw;
    transform: translateY(-35%);
  }
  &-description {
    font-family: NanumPen;
    text-align: justify;
    font-size: 36px;
    color: #fe2020;
    padding: 20px;
    margin: 30px;
    padding-left: 0;
    margin-left: 0;
  }
  &-arrow {
    transform: rotate(90deg);
    font-family: NanumPen;
    font-size: 30px;
    color: #ffffff;
    letter-spacing: -3.2px;
    text-align: center;
    line-height: 89px;
    position: absolute;
    bottom: 25px;
    margin-left: 100px;
    width: 100%;
    text-align: center;
  }
}
