.whatWeView {
  display: flex;
  align-items: center;
  justify-content: center;
  &-header {
    display: flex;
    justify-content: center;
    width: 200px;
    &-title {
      transform: rotate(-90deg);
      font-family: Helvetica;
      font-size: 90px;
      color: #ffffff;
      text-align: center;
      margin: 0;
      white-space: nowrap;
    }
  }

  &-text {
    max-width: 70%;
    font-family: NanumPen;
    font-size: 36px;
    color: #fe2020;
    text-align: center;
  }
}
