.businessWonColumn {
  &-header {
    font-family: 'Helvetica';
    color: #ffffff;
    width: 100%;
    padding: 0 0 0 100px;

    @media screen and (min-width: 1500px) {
      width: 30%;
    }

    h2 {
      font-size: 70px;
      font-weight: 500;
      background-color: #fe5c5c;
      padding: 50px 0;
      position: relative;
      text-transform: uppercase;
      z-index: 2;

      @media screen and (max-width: 1366px) {
        font-size: 72px;
      }
    }
  }
  &-textContainer {
    padding: 40px;
    max-width: 1000px;

    @media screen and (max-width: 1300px) {
      text-align: center;
    }
    &-text {
      font-family: 'Nanum Pen Script';
      font-size: 36px;
      color: #ffffff;
      text-transform: uppercase;
    }
  }
  &-list {
    color: #ffffff;
    font-family: 'Nanum Pen Script';
    font-size: 48px;
    text-transform: uppercase;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 1366px) {
      font-size: 38px;
    }

    &-column {
      &:first-of-type {
        text-align: right;
        margin-right: 150px;
      }
      font-family: 'Nanum Pen Script';
      font-size: 36px;
      color: #ffffff;
    }
  }
  &-verticalRule {
    border: none;
    border-left: 4px solid #d8d8d8;
    height: 100vh;
    width: 0px;
    display: block;
    position: absolute;
    left: 12vw;
    top: 0;
  }
}
