.homeView1 {
  display: flex;
  flex-direction: column;
  color: black;
  text-align: center;
  justify-content: center;
  font-family: Nanum Pen Script;
  height: 100vh;
  scroll-snap-align: start;
  position: relative;

  &-fist {
    width: 60%;
    position: absolute;
    margin-left: 20%;
  }

  &-small {
    font-size: 90px;
    color: rgba(254, 113, 92, 0.71);
    text-align: center;
    margin: 0;
    text-transform: uppercase;
    opacity: 0;
    animation: fadeIn 0.5s;
    animation-iteration-count: 1;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
  }

  &-medium {
    font-size: 90px;
    color: rgba(254, 113, 92, 0.97);
    text-align: center;
    margin: 0;
    text-transform: uppercase;
    opacity: 0;
    animation: fadeIn 0.5s;
    animation-iteration-count: 1;
    animation-delay: 1s;
    animation-fill-mode: forwards;
  }

  &-large {
    font-size: 130px;
    color: #fe2020;
    opacity: 0;
    text-align: center;
    margin: 0;
    text-transform: uppercase;
    animation: fadeIn 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 1.5s;

    @media only screen and (max-width: 736px) {
      font-size: 80px;
    }
  }

  &-arrow {
    font-size: 25px;
    color: black;
    opacity: 0;
    font-weight: 200;
    transform: rotate(90deg);
    text-align: center;
    margin: 0;
    position: absolute;
    bottom: 30px;
    margin-left: 50%;
    text-transform: uppercase;
    animation: blink 1.3s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-delay: 2.5s;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
